<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/about.css" />
    <title>About</title>
  </head>
  <body>
    <nav id="nav-bar">
      <div>
        <a href="/home" id="nav-logo"
          ><img src="/images/njr logo.png" alt=""
        /></a>
      </div>
      <div id="buttons">
        <a id="about" href="/about" style="color: rgb(237, 210, 8)"> About</a>
        <a href="/work">Work</a>
      </div>
    </nav>

    <section id="text">
      <div id="biography">
        <ul>
          <b>Name:</b>
          Neymar da Silva Santos Junior
        </ul>
        <ul>
          <b>Date of Birth:</b>
          5 February 1992
          <b>(age 30)</b>
        </ul>
        <ul>
          <b>Place of birth:</b>
          <a
            href="https://en.wikipedia.org/wiki/Mogi_das_Cruzes"
            target="_blank"
          >
            Mogi das Cruzes</a
          >, Brazil
        </ul>
        <ul>
          <b>Nationality:</b>
          Brazil
          <span
            ><img id="brazil-flag" src="/images/brazil flag.png" alt=""
          /></span>
        </ul>
        <ul>
          <b>Height:</b>
          1,75m
        </ul>
        <ul>
          <b>Position:</b>
          Left Wing
        </ul>
        <ul>
          <b>Current Club:</b>
          Paris Saint German
          <span><img id="psg-logo" src="/images/psg logo.png" alt="" /></span>
        </ul>
      </div>
      <div id="neymar">
        <img src="/images/neymar selecao.jpg" alt="" />
      </div>
    </section>
  </body>
</html>
