<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/work.css" />
    <title>Work</title>
  </head>
  <body>
    <nav id="nav-bar">
      <div>
        <a href="/home" id="nav-logo"
          ><img src="/images/njr logo.png" alt=""
        /></a>
      </div>
      <div id="buttons">
        <a href="/about"> About</a>
        <a href="/work" style="color: rgb(237, 210, 8)">Work</a>
      </div>
    </nav>
    <div class="title"><h1>Neymars's Achievements</h1></div>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <h5>1X FOOTBALLER OF THE YEAR</h5>
          <div>
            2011
            <img class="logos" src="/images/brazil flag.png" alt="" /><a
              href="#"
              >Brazil</a
            >
          </div>
        </div>
        <div class="col">
          <h5>BEST SCORER</h5>
          <div>
            14/15
            <img
              class="logos"
              src="/images/uefa champions league logo.png"
              alt=""
            /><a href="#">UEFA Champions League -</a>
            10goals
          </div>
          <div>
            14/15
            <img class="logos" src="/images/copa del rei logo.png" alt="" /><a
              href="#"
              >King's Cup -</a
            >
            7 goals
          </div>
          <div>
            12/11
            <img
              class="logos"
              src="/images/copa libertadores logo.png"
              alt=""
            /><a href="#">Copa Libertadores</a>8 goals
          </div>
        </div>
        <div class="col">
          <h5>1X FIFA WORLD CHAMPION-CLUB</h5>
          <div>
            2015
            <img class="logos" src="/images/barça logo.png" alt="" /><a href="#"
              >Barcelona</a
            >
          </div>
        </div>
        <div class="col">
          <h5>1X CHAMPIONS LEAGUE WINNER</h5>
          <div>
            14/15
            <img class="logos" src="/images/barça logo.png" alt="" /><a href="#"
              >FC Barcelona</a
            >
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <h5>2X SPANISH CHAMPION</h5>
          <div>
            15/16
            <img class="logos" src="/images/barça logo.png" alt="" /><a href="#"
              >FC Barcelona</a
            >
          </div>
          <div>
            14/15
            <img class="logos" src="/images/barça logo.png" alt="" /><a href="#"
              >FC Barcelona</a
            >
          </div>
        </div>
        <div class="col">
          <h5>3X SPANISH CUP WINNER</h5>
          <div>
            16/17
            <img class="logos" src="/images/barça logo.png" alt="" /><a href="#"
              >FC Barcelona</a
            >
          </div>
          <div>
            15/16
            <img class="logos" src="/images/barça logo.png" alt="" /><a href="#"
              >FC Barcelona</a
            >
          </div>
          <div>
            14/15
            <img class="logos" src="/images/barça logo.png" alt="" /><a href="#"
              >FC Barcelona</a
            >
          </div>
        </div>
        <div class="col">
          <h5>1X SPANISH SUPER CUP WINNER</h5>
          <div>
            13/14 <img src="/images/barça logo.png" alt="" /><a href="#"
              >FC Barcelona</a
            >
          </div>
        </div>
        <div class="col">
          <h5>4X FRENCH CHAMPION</h5>
          <div>
            21/22
            <img class="logos" src="/images/psg logo.png" alt="" /><a href="#"
              >FC Paris Saint-Germain</a
            >
          </div>
          <div>
            19/20
            <img class="logos" src="/images/psg logo.png" alt="" /><a href="#"
              >FC Paris Saint-Germain</a
            >
          </div>
          <div>
            18/19
            <img class="logos" src="/images/psg logo.png" alt="" /><a href="#"
              >FC Paris Saint-Germain</a
            >
          </div>
          <div>
            17/18
            <img class="logos" src="/images/psg logo.png" alt="" /><a href="#"
              >FC Paris Saint-Germain</a
            >
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <h5>1X BRAZILIAN CUP WINNER</h5>
          <div>
            2010
            <img class="logos" src="/images/santos logo.png" alt="" /><a
              href="#"
              >Santos FC</a
            >
          </div>
        </div>
        <div class="col">
          <h5>1X COPA LIBERTADORES WINNERS</h5>
          <div>
            11/10
            <img class="logos" src="/images/santos logo.png" alt="" /><a
              href="#"
              >Santos FC
            </a>
          </div>
        </div>
        <div class="col">
          <h5>1X CONFEDERATIONS-CUP WINNER</h5>
          <div>
            2013
            <img class="logos" src="/images/brazil flag.png" alt="" /><a
              href="#"
              >Brazil</a
            >
          </div>
        </div>
        <div class="col">
          <h5>1X RECOPA SUDAMERICANA</h5>
          <div>
            12/11
            <img class="logos" src="/images/santos logo.png" alt="" /><a
              href="#"
              >Santos FC</a
            >
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col">
          <h5>1X SOUTH ARMERICAN SUB20 CHAMPION</h5>
          <div>
            2011
            <img class="logos" src="/images/brazil flag.png" alt="" /><a
              href="#"
              >Brazil Sub20</a
            >
          </div>
        </div>
        <div class="col">
          <h5>1X UEFA-SUPERCUP WINNER</h5>
          <div>
            15/16
            <img class="logos" src="/images/barça logo.png" alt="" /><a href="#"
              >FC Barcelona</a
            >
          </div>
        </div>
        <div class="col">
          <h5>3X FRENCH SUPER CUP WINNER</h5>
          <div>
            20/21
            <img class="logos" src="/images/psg logo.png" alt="" /><a href="#"
              >FC Paris Saint-Germain</a
            >
          </div>
          <div>
            19/20
            <img class="logos" src="/images/psg logo.png" alt="" /><a href="#"
              >FC Paris Saint-Germain</a
            >
          </div>
          <div>
            18/19
            <img class="logos" src="/images/psg logo.png" alt="" /><a href="#"
              >FC Paris Saint-Germain</a
            >
          </div>
        </div>
        <div class="col">
          <h5>OLYMPIC WINNER</h5>
          <div>
            15/16
            <img class="logos" src="/images/brazil flag.png" alt="" /><a
              href="#"
              >Olympic Brazil</a
            >
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
